.country {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.country img {
  width: 280px;
  height: 150px;
  object-fit: cover;
}

.country-bg{
    background-color: #0bceff34;
}
